<div class="box">
    <div class="box-header">
        <h3 class="box-title">Disclaimer</h3>
    </div>
    <div class="box-body">
        <p>Dengan menggunakan layanan ini Anda setuju dengan ketentuan yang kami tetapkan.</p>
        <ol>
            <li>
                Anda setuju untuk berbagi pesan/info Anda, melalui Twitter, kepada kami.
                Kami tidak mencantumkan akun Anda pada marker (penanda) pada peta yang kami tampilkan,
                namun kami menyimpan informasi berkenaan dengan twit Anda dalam sistem kami.
            </li>
            <li>
                Isi dari pesan/info yang Anda bagikan adalah tanggung jawab Anda secara pribadi, Anda
                setuju untuk membebaskan (tidak membebani) {{#link-to 'index'}}dimanamacet.com{{/link-to}}
                atas segala klaim yang disebabkan oleh pesan yang Anda bagikan.
            </li>
            <li>
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} tidak dapat dituntut atas segala kekeliruan,
                ketidaktepatan, ketidakakuratan pada segala informasi lalu-lintas yang Anda bagikan.
            </li>
            <li>
                Anda setuju untuk tidak membagi pesan yang mengandung:
                <ul>
                    <li>
                        Informasi yang diketahui salah, menyesatkan atau mempromosikan kegiatan ilegal atau
                        perbuatan yang menyalahgunakan, mengancam, cabul, mencemarkan atau memfitnah.
                    </li>
                    <li>
                        SPAM (sampah).
                    </li>
                    <li>
                        Memperlihatkan pornografi atau materi apapun yang secara seksual gamblang seperti yang
                        tercantum dalam Undang-Undang Nomor 44 tahun 2008 mengenai pornografi dan/atau memberikan
                        materi yang mengeksploitasi orang dibawah usia 18 tahun dengan cara seksual atau kekerasan.
                    </li>
                </ul>
            </li>
            <li>
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} tidak setiap saat memantau setiap info yang termuat.

            </li>
            <li>
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} dapat sewaktu-waktu, namun tidak wajib,
                meninjau, menolak, menghapus dan/atau mengubah isi pesan/info, baik sebagian maupun
                keseluruhan yang Anda bagikan tanpa pemberitahuan terlebih dahulu kepada,
                yang berdasarkan penilaian ataupun kebijakan {{#link-to 'index'}}dimanamacet.com{{/link-to}},
                dianggap melanggar syarat-syarat dan ketentuan yang telah ditetapkan ataupun
                ketentuan perundang-undangan yang berlaku di Indonesia,
                termasuk tapi tidak terbatas apabila hal itu bersifat sensitif, ofensif,
                dapat memicu kebencian, mencemarkan nama baik, memuat materi yang memicu perpecahan
                suku, agama, ras, antar golongan pornografi, perjudian, ataupun bertentangan dengan
                norma etika kesusilaan dan hukum yang berlaku di Republik Indonesia.
                Apabila Anda menemukan pesan yang tidak sesuai dan melanggar ketentuan penggunaan ini,
                silahkan melaporkan melalui twit <strong>#lapor</strong>.
            </li>
            <li>
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} berhak mempublikasikan lebih lanjut dan memanfaatkan
                pesan yang Anda bagikan dalam kapasitas sebagai layanan informasi lalu-lintas.
            </li>
            <li>
                Tiap pesan yang Anda bagikan akan {{#link-to 'index'}}dimanamacet.com{{/link-to}}
                anggap sebagai pesan yang tidak bersifat rahasia, oleh karenanya
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} berhak menggunakan, menyalin, mengubah,
                menyebarluaskan, termasuk tidak terbatas pada mengungkapkan pesan tersebut
                kepada publik maupun pihak ketiga.
            </li>
            <li>
              {{#link-to 'index'}}dimanamacet.com{{/link-to}} tidak dapat memberikan garansi keberlanjutan
                penyimpanan dan penampilan pesan yang telah Anda bagikan.
            </li>
        </ol>
    </div>
    <div class="box-footer clearfix">
    </div>
</div>