<style>
    .ember-cli-g-map {
        height: 400px;
    }
</style>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Direction with Traffic&nbsp;{{lastminutesText}}</h3>

        <div class="box-tools">
          {{#gmap-search refreshPlace='refreshPlace' elementId='searchPlaceText'}}{{/gmap-search}}
        </div>
    </div>
    <div class="box-body">
      {{g-maps name="marker-map" lat=lat lng=lng zoom=zoom routes=routesForDisplay markers=markersForDisplay}}
    </div>
    <div class="box-footer clearfix">
        <div class="box-tools">
            <div class="form-group pull-right">
                <button class="btn btn-default" type="button" {{action 'refreshPage'}}>Get Direction Again</button>
            </div>
        </div>
    </div>
</div>