<div class="box">
    <div class="box-header">
        <h3 class="box-title">How to contribute</h3>
    </div>
    <div class="box-body">
        <p>Dengan berkontribusi artinya Anda menyetujui kebijakan yang&nbsp;
            tertuang pada {{#link-to 'disclaimer'}}disclaimer{{/link-to}}. Singkatnya&nbsp;
            Anda setuju untuk berbagi informasi lokasi twit Anda, melalui Twitter, kepada kami.&nbsp;
            Kami tidak mencantumkan akun Anda pada marker (penanda) pada peta yang kami tampilkan,&nbsp;
            namun kami menyimpan informasi mengenai akun Anda dalam data kami.</p>
        <ol>
            <li>Buat <strong>twit</strong> baru</li>
            <li>Aktifkan <strong>lokasi</strong> Anda</li>
            <li>Gunakan pilihan <strong>Precise Location</strong> untuk menambah akurasi lokasi Anda</li>
            <li>Tambahkan informasi lalu lintas yang ingin Anda bagi, mis.&nbsp;
                <strong><i>macet mulai pintu tol Porong ke arah malang, hindari tol</i></strong></li>
            <li>Tambahkan <strong>hastag</strong> untuk menunjukkan kategori kondisi.&nbsp;
                Saat ini kami mendukung <strong>3</strong> hashtag, yaitu&nbsp;
            <strong>#macet</strong>, <strong>#padat</strong>, <strong>#lancar</strong>.&nbsp;
                Jika <strong>tidak</strong> terdapat hashtag kami akan mengasumsikan <strong>#macet</strong></li>
            <li>Jangan lupa mention <strong>@dimanamacetid</strong></li>
            <li>Cuitkan twit Anda</li>
        </ol>
    </div>
    <div class="box-footer clearfix">
    </div>
</div>