<div class="box">
    <div class="box-header">
        <h3 class="box-title">How to contribute</h3>
    </div>
    <div class="box-body">
        <p>Dengan berkontribusi artinya Anda menyetujui kebijakan yang
            tertuang pada {{#link-to 'disclaimer'}}disclaimer{{/link-to}}.</p>
        <ol>
            <li>Buat <strong>twit</strong> baru, dapat juga dibubuhkan foto</li>
            <li>Aktifkan <strong>lokasi</strong> Anda</li>
            <li>Gunakan pilihan <strong>Precise Location</strong> untuk menambah akurasi lokasi Anda</li>
            <li>Tambahkan informasi lalu lintas yang ingin Anda bagi, mis.
                <strong><i>macet mulai pintu tol Porong ke arah malang, hindari tol</i></strong></li>
            <li>Tambahkan <strong>hastag</strong> untuk menunjukkan kategori kondisi dan cuaca.
                Untuk kondisi lalu lintas ini kami mendukung <strong>3</strong> hashtag, yaitu
                <strong>#macet</strong>, <strong>#padat</strong>, <strong>#lancar</strong>.
                Sedangkan untuk cuaca <strong>#cerah</strong>, <strong>#hujan</strong>, <strong>#hujanderas</strong>,
                <strong>#deras</strong>, <strong>#gerimis</strong>.
                Jika <strong>tidak</strong> terdapat hashtag kami akan mengasumsikan <strong>#macet</strong>
                dan <strong>#cerah</strong></li>
            <li>Jangan lupa mention <strong>@dimanamacetid</strong></li>
            <li>Cuitkan twit Anda</li>
        </ol>
        <p><strong><i>A picture is worth a thousand words</i></strong>, ringkasnya begini cara berbagi info.</p>

        <p align="center"><img src="images/tut7.png" alt="tutorial 1" height="480" width="270"></p>

        <p>Jika aplikasi twit Anda mendukung opsi <i>precise location</i>.</p>

        <p align="center"><img src="images/tut2.png" alt="tutorial 2" height="480" width="270"></p>

        <p><strong>Atau jika menggunakan aplikasi twit lain</strong>.</p>

        <p align="center"><img src="images/tut5.png" alt="tutorial 3" height="204.75" width="270"></p>
    </div>
    <div class="box-footer clearfix">
    </div>
</div>