<div class="box">
    <div class="box-header">
        <h3 class="box-title">Pulsa untuk Kontribusi Terbaik <a href="https://twitter.com/dimanamacetid" target="_blank">@dimanamacetid</a></h3>
    </div>
    <div class="box-body">
        <p>{{#link-to 'index'}}dimanamacet.com{{/link-to}} memberikan pulsa <strong>@2 hari</strong> untuk kontribusi
        terbaik melalui akun Twitter kami <a href="https://twitter.com/dimanamacetid" target="_blank">@dimanamacetid</a>.
        </p>
        <p>Syarat dan Ketentuan:</p>
        <ol>
            <li>Follow akun twitter kami <a href="https://twitter.com/dimanamacetid" target="_blank">@dimanamacetid</a>.</li>
            <li>Twit dan berikan <strong>1) informasi lalu lintas</strong> dengan menyertakan <strong>2) nama lokasi/tempat</strong>, mengaktifkan
                <strong>3) Location</strong> dan <strong>4) mention</strong> <a href="https://twitter.com/dimanamacetid" target="_blank">@dimanamacetid</a>.
                Selengkapnya sila pelajari {{#link-to 'contribute'}}cara berkontribusi{{/link-to}}.</li>
            <li>Akun yang sama tidak diperkenankan memberikan informasi lalu lintas yang <strong>sama</strong> dalam jangka waktu 30 menit.</li>
            <li>Periode program ini adalah <strong>2 hari</strong>, jadi twit pada <strong>hari 1 dan 2</strong>
                akan diumumkan pemenang pada hari <strong>ke-3</strong>, dan sedangkan pemenang pada hari 3 dan 4
                akan diumumkan pada hari ke-5, begitu seterusnya.</li>
            <li>Penentuan pemenang didasarkan pada beberapa <a href="/quiz#criteria">kriteria</a>.</li>
            <li><strong>Tiap 2 hari</strong> akan dipilih <strong>2 pemenang</strong> yang berhak atas hadiah masing-masing pulsa <strong>Rp25.000</strong>.</li>
            <li><a href="/quiz#claim">Pemenang</a> akan diumumkan melalui melalui <a href="https://twitter.com/dimanamacetid" target="_blank">@dimanamacetid</a>.
                Jika dalam waktu 24 jam sejak pengumuman, pemenang tidak melakukan <a href="/quiz#claim">klaim</a> maka dinyatakan gugur.
            </li>
            <li>Akun yang <strong>sama</strong> tidak dapat menang <strong>berturut-turut</strong> lebih dari <strong>2 periode</strong>.</li>
            <li>Penentuan pemenang bersifat mutlak dan tidak dapat diganggu gugat.</li>
            <li>Pulsa tidak dapat diuangkan.</li>
            <li>Program ini tidak berlaku bagi personil {{#link-to 'index'}}dimanamacet.com{{/link-to}}.</li>
            <li>{{#link-to 'index'}}dimanamacet.com{{/link-to}} berhak untuk menghentikan, merevisi atau menangguhkan program ini
            (termasuk metode dan kriteria pemilihan pemenang) sewaktu-waktu secara keseluruhan atau sebagian, kapan saja dengan atau
            tanpa pemberitahuan, atas alasan apapun juga.</li>
        </ol>
        <p id="claim">Bagaimana mengklaim pulsa Anda?</p>
        <ol>
            <li>Follow akun <a href="https://twitter.com/dimanamacetidcs" target="_blank">@dimanamacetidcs</a>.</li>
            <li>Minta akun tersebut <strong>follback</strong>.</li>
            <li>DM nomor ponsel yang akan mendapatkan pulsa.</li>
            <li>Sebagai catatan, kami menyimpan nomor ponsel tersebut dalam sistem kami.</li>
        </ol>
        <p id="criteria">Kriteria pemenang</p>
        <ol>
            <li>Banyaknya informasi yang dibagikan.</li>
            <li><strong>Tidak</strong> terdapat informasi yang <strong>sama</strong> yang dibagikan oleh <strong>akun</strong>
                yang sama dalam <strong>30 menit</strong>.</li>
            <li>Validitas informasi lalu lintas.</li>
            <li>Menambahkan <strong>foto</strong> adalah nilai tambah.</li>
            <li>Menambahkan <strong>hastag</strong> juga merupakan nilai tambah. Untuk menunjukkan kondisi lalu lintas dan cuaca gunakan:
                <ul>
                    <li><strong>#macet</strong></li>
                    <li><strong>#padat</strong></li>
                    <li><strong>#ramai</strong></li>
                    <li><strong>#lancar</strong></li>
                    <li><strong>#waspada</strong></li>
                    <li><strong>#kecelakaan</strong></li>
                    <li><strong>#laka</strong></li>
                    <li><strong>#cerah</strong></li>
                    <li><strong>#mendung</strong></li>
                    <li><strong>#gerimis</strong></li>
                    <li><strong>#hujan</strong></li>
                    <li><strong>#deras</strong></li>
                </ul>
            </li>
            <li>Tidak melanggar hal-hal yang diatur dalam {{#link-to 'disclaimer'}}Disclaimer{{/link-to}}.</li>
        </ol>
    </div>
    <div class="box-footer clearfix">
    </div>
</div>
