<div class="container-fluid">
    <div class="row"><!-- .header -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  {{#link-to "application" class="navbar-brand"}}Dimana Macet{{/link-to}}
                </div>
            </div>
        </nav>
    </div>
    <!-- /.header -->
    <div class="row"><!-- .content -->
      {{outlet}}
    </div>
    <!-- /.content -->
    <div class="row"><!-- footer -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p align="center">
                          {{#link-to "journey"}}<span>Direction</span>{{/link-to}}&nbsp;&#8226;&nbsp;
                          {{#link-to "examples"}}<span>Example</span>{{/link-to}}&nbsp;&#8226;&nbsp;
                          {{#link-to "contribute"}}<span>How To Contribute</span>{{/link-to}}<br>
                          {{#link-to "about"}}<span>About</span>{{/link-to}}&nbsp;&#8226;&nbsp;
                          {{#link-to "disclaimer"}}<span>Disclaimer</span>{{/link-to}}
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </nav>
    </div>
    <!-- /.footer -->
</div>